In [5]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.describe(include="all")

,PatientID,Age,Gender,BMI,BloodPressure,Insulin,Glucose,DiabetesPedigreeFunction,Outcome
count,200.000000,200.000000,200,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN
mean,100.500000,48.630000,NaN,31.683698,127.560000,130.025000,137.760000,1.055012,0.475000
std,57.879185,14.129093,NaN,7.080794,24.046362,57.056125,27.499336,0.502943,0.500628
min,1.000000,21.000000,NaN,18.663323,71.000000,15.000000,70.000000,0.148171,0.000000
25%,50.750000,39.000000,NaN,26.779537,115.000000,95.000000,123.000000,0.681338,0.000000
50%,100.500000,48.500000,NaN,30.916391,130.000000,116.500000,140.000000,0.972823,0.000000
75%,150.250000,58.000000,NaN,35.725000,143.250000,159.250000,154.250000,1.377358,1.000000
max,200.000000,79.000000,NaN,49.427988,178.000000,273.000000,198.000000,2.467637,1.000000